body{
font-family: 'Audiowide', cursive;
background: black;
background-image: url(../images/view2.jpg);
background-position: bottom;

}
h1{
  color: yellow;
}

p{
  font-size: 20px;
  color: red;
  text-align: center;
}

.flash{

  /* animation: flash linear 1s; */
}

.container{
  background-image: url(../images/background.png);
  width: 1000px;
  height: 800px;
  border: 5px solid black;
  display: block;
  margin: auto;
  overflow: hidden;
  position: relative;
  cursor: url('../images/aim.png'), pointer;
}


#startButton{
  width: 200px;
  height: 100px;
  margin-top: 320px;
}

#timer{
  font-weight: bold;
}




.duck{
  width: 100px;
  height:70px;
  z-index: 10;
  background: url('../images/duck.png');
  background-position: center;
  background-size: contain;
  position: absolute;
  left:0;
  margin: 2px;
  /* animation: duck1 30s infinite; */
}

.carrot{
  width: 70px;
  height:70px;
  z-index: 10;
  background: url('../images/carrot.png');
  background-position: center;
  background-size: contain;
  position: absolute;
  left:0;
  margin: 2px;
  /* animation: duck1 30s infinite; */
}

.meat{
  width: 70px;
  height:70px;
  z-index: 10;
  background: url('../images/meat.png');
  background-position: center;
  background-size: contain;
  position: absolute;
  left:0;
  margin: 2px;
  /* animation: duck1 30s infinite; */
}


.gameover{
  width: 200px;
  background: grey;
  opacity: 70%;
  display: none;
  text-align: center;
  color: black;
  border-radius: 5%;
  position: absolute;
  margin-left: 350px;
  margin-top: 200px;
}

/* @keyframes flash {
0% {opacity: 1;}
50% {opacity: .1;}
100% {opacity: 1;}

} */
