body{

}

.container{
  background-image: url(../images/background.png);
  width: 1000px;
  height: 800px;
  border: 5px solid black;
  display: block;
  margin: auto;
  overflow: hidden;
  position: relative;
  cursor: crosshair;
}


#startButton{
  width: 200px;
  height: 100px;
}



.duck{
  width: 100px;
  height:70px;
  z-index: 10;
  background: url('../images/duck.png');
  background-position: center;
  background-size: contain;
  position: absolute;
  left:0;
  /* animation: duck1 30s infinite; */
}

.carrot{
  width: 70px;
  height:70px;
  z-index: 10;
  background: url('../images/carrot.png');
  background-position: center;
  background-size: contain;
  position: absolute;
  left:0;
  /* animation: duck1 30s infinite; */
}

.meat{
  width: 70px;
  height:70px;
  z-index: 10;
  background: url('../images/meat.png');
  background-position: center;
  background-size: contain;
  position: absolute;
  left:0;
  /* animation: duck1 30s infinite; */
}

p{
  font-size: 20px;
}

/* @keyframes duck1 {
	from {left:-100px; top: 0px;}
	to {left:1280px; top: 400px}
} */
